  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-a2090233-3fe1-48a7-a52c-531f29c020b5;AttachDbFilename=|DataDirectory|\aspnet-Website-a2090233-3fe1-48a7-a52c-531f29c020b5.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="CSPC157"
          connectionString="Data Source=.; Initial Catalog=CorseProject; Integrated Security=true"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>


